<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ensino Superior</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="assets/css/variables-purple.css" rel="stylesheet"> 

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.ejs" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <p>E.Superior</p>
        <img src="assets/img/05.png" class="img-fluid" alt="">
      </a>

       

      <nav id="navbar" class="navbar">
        <ul>

          <li class=""><a href="/"><span>Menu</span> <i class="bi bi-home "></i></a>
          <li class=""><a href="/pesquisa"><span>Pesquisar</span> <i class="bi bi-home "></i></a></li>
          <li><a class="nav-link scrollto" href="/orientacao">Orientação vocacional</a></li>
          <li><a class="nav-link scrollto" href="/livros">Biblioteca</a></li>
          
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
        
          <li><a class="nav-link scrollto" href="#contact">Contactos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      

    </div>
  </header><!-- End Header -->

 

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero carousel  carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-center gy-6">
          
          <div class="col-lg-40 col-md-30">
            <img src="assets/img/slide-cuanza2.jpg" alt="" class="img-fluid img">
          </div>
          

          <div class="col-lg-9 text-center">
            <h1>Longoka-Ensino Superior</h1>
            <p>Descubra todas instuições de ensino superior em Angola num só lugar</p>
            <a href="#featured-services" class="btn-get-started scrollto ">Explorar</a>
          </div>

        </div>  
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">

          <div class="col-lg-30 col-md-30">
            <img src="assets/img/slide-site-cuanza_inscri.jpg" alt="" class="img-fluid img">
          </div>

          <div class="col-lg-9 text-center">
            <h1>Dados educacionais ao seu alcance</h1>
            <p> Tudo o que precisa saber para tomar decisões informadas</p>
            <a href="#featured-services" class="btn-get-started scrollto ">Explorar</a>
          </div>

        </div>
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">

          <div class="col-lg-40 col-md-30">
            <img src="assets/img/slide-cuanza-1.jpg" alt="" class="img-fluid img">
          </div>
 
          <div class="col-lg-9 text-center">
            <h1> Encontre suporte didáctico</h1>
            <p>Enontre materiais para apoiar seus estudos em diversas áreas do conhecimento</p>
            <a href="#featured-services" class="btn-get-started scrollto ">Explorar</a>
          </div>

        </div>
      </div>
    </div><!-- End Carousel Item -->

    <a class="carousel-control-prev" href="#hero" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

    <ol class="carousel-indicators"></ol>

  </section><!-- End Hero Section -->
  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="icon text-center"><i class="bi bi-question-circle icon"></i></div>
              <h4><a href="" class="stretched-link">Explore e Descubra</a></h4>
              <p>Esteja você procurando informações sobre determinados cursos ou explorando as opções educacionais disponíveis em Angola, nossa plataforma está aqui oara ajudar.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon text-center"><i class="bi bi-search icon"></i></div>
              <h4><a href="" class="stretched-link">Pesquisa Avançada e Completa</a></h4>
              <p>Utilize a pesquisa avançada para refinar seus reultados com critérios detalhados ou simplifique sua busca digitando o nome da instituição que deseja explorar.Nossa interface intuitiva garante que você obtenha resultados precisos e relevantes em segundos</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon text-center"><i class="bi bi-person icon"></i></div>
              <h4><a href="" class="stretched-link">Conectando Futuros</a></h4>
              <p>Conectamos estudantes, pais, educadores e pesquisadores à informações criciais sobre o ensino superior em Angola. Facilitamos o acesso à educação, promovendo transparência e informação detalhada sobre todas as opções disponíveis no país.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon text-center"><i class="bi bi-book icon"></i></div>
              <h4><a href="" class="stretched-link">Comece sua jornada educacional hoje</a></h4>
              <p>Explore, descubra e planeje seu futuro educacional com a Plataforma Kalassi. Seja qual for seu objectivo educacional, estamos aqui para ajudar você a alcancá-lo.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    

    <!-- ======= Clients Section  Adicionar icones de algumas universidades de destaque no país======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            
            <div class="swiper-slide"><img src="assets/img/instituicoes/unikivi.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/iska.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/uan.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/ucan.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/uon.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/isptec.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/upra.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/uma.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/nzenzo.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/isced-uige.jpeg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/instituicoes/isppu.jpeg" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= On Focus Section ======= -->
    <section id="onfocus" class="onfocus">
      <div class="container-fluid p-0" data-aos="">

        <div class="row g-0">
          <div class="col-lg-6 video-play position-relative">
            <a href="https://www.youtube.com/watch?v=EHI8ZFV8MFw&ab_channel=CauilaDosSantos" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3></h3>
              <p class="fst-italic">
                Facilitamos o acesso à educação, promovendo transparência e informação detalhada sobre todas as opções disponíveis no país.
              </p>
              
              
            </div>
          </div>
        </div>

      </div>
    </section><!-- End On Focus Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="">

        <ul class="nav nav-tabs row gy-4 d-flex">

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-binoculars color-cyan"></i>
              <h4>Pesquisas</h4>
            </a>
          </li><!-- End Tab 1 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <i class="bi bi-book text-center color-indigo"></i>
              <h4>Orientação </h4>
              <h4>académica</h4>
            </a>
          </li><!-- End Tab 2 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="bi bi-book color-teal"></i>
              <h4>Biblioteca</h4>
            </a>
          </li><!-- End Tab 3 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="bi bi-gear color-red"></i>
              <h4>Futuros</h4>
              <h4>Projectos</h4>
            </a>
          </li><!-- End Tab 4 Nav -->

         

  

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1" data-aos="" data-aos-delay="50">
                <h3>Pesquisas de instituições de ensino superior</h3>
                <p class="fst-italic">
                  Descubra informações precisas sobre qualquer instituição de ensino superior em Angola.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i>Você pode com apenas um clique descubrir a instiuição que combina consigo.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Encontre informações sobre grade curricular e duração de cursos.</li>
                  <li><i class="bi bi-check-circle-fill"></i>Pode pesquisar por cursos, tipo de instituição e província.</li>
                </ul>
                <p style="font-weight: bold;">
                  Você pode por exemplo pesquisar por todas as instituições de ensino superior no país que oferecem o curso de Engenharia Informática, 
                  seja elas públicas ou privadas
                </p>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="50">
                <img src="assets/img/cms-image-000023839.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 1 -->

          <div class="tab-pane" id="tab-2">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Orientação vocacional</h3>
                <p>
                    Não sabe ainda que curso escolher?
                   
                </p>
                <p> Tem dúvidas sobre qual curso é mais adequado para si?</p>
                <p class="fst-italic">
                      Faça o teste de Orientação vocacional personalizado e descubra qual carreira académica pode ser mais adequada para sí.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Um teste com perguntas simples.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Um teste rápido e intuitivo.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Um teste com alto grau de precisão.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/vocacao1.png" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 2 -->

          <div class="tab-pane" id="tab-3">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Biblioteca virtual integrada</h3>
                <p>
                  Acesse nossa biblioteca virtual abrangente, repleta de recursos académicos essenciais.
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i>Livros.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Apostilas.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Artigos académicos.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Monografias.</li>
                  <li><i class="bi bi-check-circle-fill"></i> Dissertações.</li>
                </ul>
                <p class="fst-italic">
                  Abra as portas do conhecimento: Explor a nossa Biblioteca.
                </p>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/licenciatura-demo2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 3 -->

          <div class="tab-pane" id="tab-4">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1">
                <h3>Futuros projectos</h3>
                <p class="fst-italic">
                  O Longoka contentará nas próximas versões com mais dois módulos.
                  Estes dois módulos que poderão agregar os mesmos recursos presentes nesta versão:
                </p>
                
                <ul>
                  <li style="font-weight: bold;"><i class="bi bi-check-circle-fill"></i>O módulo para pesquisas e orientação vocacional voltados ao Ensino Médio.</li>
                  <li style="font-weight: bold;"><i class="bi bi-check-circle-fill"></i>O módulo para pesquisas e orientação vocacional voltados ao Formações Técnica Profisionais.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="assets/img/features-3.svg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 4 -->

          

          

        </div>

      </div>
    </section><!-- End Features Section -->

   

    


    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid" data-aos="">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content px-xl-5">
              <h3>Perguntas <strong> Frequentes(FAQ)</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>

            <div class="accordion accordion-flush px-xl-5" id="faqlist">

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    O que é essa plataforma e como ela pode me ajudar?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                     Nossa plataforma centraliza informações sobre todas as instituições de ensino superior em Angola, facilitando pesquisas de cursos, tipos de instiuições, orientação vocacional e dados estatísticos educacionais.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Como posso usar a pesquisa completa?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Para usar a pesquisa avançada, basta inserir o nome do curso, selecionar o tipo de instituição ou a provincia.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    O teste de orientação vocacional é gratuito?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Sim, nosso teste de orientação vocacional é completamente gratuito e projectado para ajudá-lo a explorar opções de carreira académica que melhor se adequem às suas habilidades e interesses.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    Quais tipos dados estatísticos estão disponíveis?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Oferecemos estatísticas sobre a disponíveis de instituições Públicas e Privadas, bem como percentuais e frequências detalhadas por províncias.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="50">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    A plataforma está disponivel em quais plataformas?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    A nossa plataforma está disponível nas plataformas Web, Android e iOS. E pode ser baixada gratuitamente na Play Store(para Andoroid) e na App Store(para iOS).
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/faq.jpg");'>&nbsp;</div>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

   
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container justify-content-center align-items-center" data-aos="fade-up">

        <div class="section-header">
          <h2>Equipa de desenvolvimento</h2>
       </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="50">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-whatsapp"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <a href=""><i class="bi bi-telegram"></i></a>
                </div>
                <h4>Bênção Nkazi Toko</h4>
                <span>Desenvolvedor Web</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="50">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Sacala José Fumuassuca</h4>
                <span>Desenvolvedor Web</span>
              </div>
            </div>
          </div><!-- End Team Member -->
        </div>

      </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="">

        <div class="section-header">
          <h2>Sobre</h2>
          <p>Saiba mais sobre o projecto Longoka.</p>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="50">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
                 <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Objectivos</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Apoie o projecto</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">A plaforma foi concebida por Jovens estudantes angolanos, com objectivo de unificar informações cruciais sobre o ensino superior em Angola, facilitando o acesso a dados sobre cursos, tipos de instituições, e estatísticas educacionais detalhadas.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Abrangência nacional</h4>
                </div>
                <p>A plataforma foi projectada para a para ser divulga e acessada gratuitamente em todo espaço nacional.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Facilidade de uso</h4>
                </div>
                <p>Com uma interface simples e amigável disponibilizamos aos utilizadores informações educacionais relevantes.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Multiplaforma</h4>
                </div>
                <p>A plaforma foi idealizada para as seguintes plataformas: Web, Android e iOS.</p>

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <p class="fst-italic">Se considera esta plataforma relevante para contexto educacional actual do país, pode nos ajuda com uma doação para apoiar o projecto.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>IBAN do projecto Longoka</h4>
                </div>
                <p>005500001862053910156</p>
                <p>005500001862053910156</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Número da conta do projecto(Milenium-Atlantico)</h4>
                </div>
                <p>21862053910001</p>

               
              </div><!-- End Tab 2 Content -->

              

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
          <h2>Contacta-nos</h2>
        </div>

      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/place/Grande+Hotel+do+U%C3%ADge/@-7.6111674,15.0357338,14z/data=!4m18!1m8!3m7!1s0x1a442330a5525bd7:0xde8df6127b31ad95!2zVcOtZ2U!3b1!8m2!3d-7.1736732!4d15.4068079!16zL20vMDI5cXQ5!3m8!1s0x1a48aca2fcfc8abb:0x50b1bc39d316a8de!5m2!4m1!1i2!8m2!3d-7.6136688!4d15.053019!16s%2Fg%2F11c0xjmqtn?authuser=0&entry=ttu" frameborder="0" allowfullscreen></iframe>
      </div><!-- End Google Maps -->

      <div class="container">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-12">

            <div class="info">
              <h3>Entra em contacto connosco</h3>
              <p>Deixe sua opinião, crítica ou sugestão sobre a plaforma e o projecto kalassi.</p>

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Localização:</h4>
                  <p>Bairro Popular, Uíge-Angola</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>kalassi@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+244 924 827 327</p>
                </div>
              </div><!-- End Info Item -->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Longoka</span></strong>. Todos os direitos reservados.
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Concebido por <a href="https://bootstrapmade.com/">Bênção Nkazi Toko & Sacala José Fumuassuca</a>
          </div>
        </div>

      </div>
    </div> 

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
